:root{
    --clr--white: hsl(0, 0%, 100%);
    --clr--lightgray: hsl(212, 45%, 89%);
    --clr--grayishblue: hsl(220, 15%, 55%);
    --clr--darkblue: hsl(218, 44%, 22%);

    --ff-base: "Outfit", sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1, h2, h3 {
    line-height: 1.1;
  }
  /*
    8. Create a root stacking context
  */
  /* #root, #__next {
    isolation: isolate;
  } */

  /* general styling*/ 

  body {
    font-size: 15px;
    background-color: var(--clr--lightgray);

    /* max-width: 375px; */
    padding: 2rem;
    display: grid;
    margin: auto;
    place-content: center;
    min-height: 100vh;
    font-family: var(--ff-base);
  }


  /*component style */
  .component {
    width: 320px;
    height: 497px;
    padding: 1rem;
    background-color: var(--clr--white);
    border-radius: 1rem;
    text-align: center;
  }

  .component__qrcode {
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .component__title, h1 {
    font-size: 22px;
    padding-top: 2rem; 
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--clr--darkblue);
    font-weight: var(--fw-bold);
  }

  .component__text {
    color: var(--clr--grayishblue);
    font-weight: var(--fw-regular);
    padding-top: 0.5rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
  }

  .attribution { 
    font-size: 11px; text-align: center; 
  }

  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }